In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
%matplotlib inline

In [2]:
conn = sqlite3.connect('database.sqlite')
tables = pd.read_sql(""" SELECT * FROM sqlite_master WHERE type='table'; """,conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

In [3]:
countries = pd.read_sql("""SELECT *
                           FROM Country;""", conn)
leagues = pd.read_sql("""SELECT *
                         FROM League;""", conn)
matches = pd.read_sql("""SELECT *
                         FROM Match;""", conn)
teams = pd.read_sql("""SELECT *
                       FROM Team;""", conn)
team_attributes = pd.read_sql("""SELECT *
                                 FROM Team_Attributes;""", conn)
players = pd.read_sql("""SELECT *
                        FROM Player;""", conn)
players_attributes = pd.read_sql("""SELECT *
                                    FROM Player_Attributes;""", conn)

In [4]:
countries.head(2)

     id     name
0     1  Belgium
1  1729  England

In [5]:
countries['id'].unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])

In [6]:
leagues.head(2)

     id  country_id                    name
0     1           1  Belgium Jupiler League
1  1729        1729  England Premier League

In [7]:
leagues['id'].unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])

In [8]:
leagues = pd.merge(leagues, countries, on='id')

In [9]:
leagues = leagues.drop('country_id', axis=1)

In [10]:
leagues.rename(columns={'name_x':'league','name_y':'country'}, inplace=True)

In [11]:
leagues

       id                    league      country
0       1    Belgium Jupiler League      Belgium
1    1729    England Premier League      England
2    4769            France Ligue 1       France
3    7809     Germany 1. Bundesliga      Germany
4   10257             Italy Serie A        Italy
5   13274    Netherlands Eredivisie  Netherlands
6   15722        Poland Ekstraklasa       Poland
7   17642  Portugal Liga ZON Sagres     Portugal
8   19694   Scotland Premier League     Scotland
9   21518           Spain LIGA BBVA        Spain
10  24558  Switzerland Super League  Switzerland

In [53]:
matches.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [14]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Columns: 115 entries, id to BSA
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB

In [59]:
i=0
for c in matches.columns:
        print(i, c)
        i = i+1

0 id
1 country_id
2 league_id
3 season
4 stage
5 date
6 match_api_id
7 home_team_api_id
8 away_team_api_id
9 home_team_goal
10 away_team_goal
11 home_player_X1
12 home_player_X2
13 home_player_X3
14 home_player_X4
15 home_player_X5
16 home_player_X6
17 home_player_X7
18 home_player_X8
19 home_player_X9
20 home_player_X10
21 home_player_X11
22 away_player_X1
23 away_player_X2
24 away_player_X3
25 away_player_X4
26 away_player_X5
27 away_player_X6
28 away_player_X7
29 away_player_X8
30 away_player_X9
31 away_player_X10
32 away_player_X11
33 home_player_Y1
34 home_player_Y2
35 home_player_Y3
36 home_player_Y4
37 home_player_Y5
38 home_player_Y6
39 home_player_Y7
40 home_player_Y8
41 home_player_Y9
42 home_player_Y10
43 home_player_Y11
44 away_player_Y1
45 away_player_Y2
46 away_player_Y3
47 away_player_Y4
48 away_player_Y5
49 away_player_Y6
50 away_player_Y7
51 away_player_Y8
52 away_player_Y9
53 away_player_Y10
54 away_player_Y11
55 home_player_1
56 home_player_2
57 home_player_3
58 home_player_4
59 home_player_5
60 home_player_6
61 home_player_7
62 home_player_8
63 home_player_9
64 home_player_10
65 home_player_11
66 away_player_1
67 away_player_2
68 away_player_3
69 away_player_4
70 away_player_5
71 away_player_6
72 away_player_7
73 away_player_8
74 away_player_9
75 away_player_10
76 away_player_11
77 goal
78 shoton
79 shotoff
80 foulcommit
81 card
82 cross
83 corner
84 possession
85 B365H
86 B365D
87 B365A
88 BWH
89 BWD
90 BWA
91 IWH
92 IWD
93 IWA
94 LBH
95 LBD
96 LBA
97 PSH
98 PSD
99 PSA
100 WHH
101 WHD
102 WHA
103 SJH
104 SJD
105 SJA
106 VCH
107 VCD
108 VCA
109 GBH
110 GBD
111 GBA
112 BSH
113 BSD
114 BSA

In [16]:
matches['country_id'].unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])

In [17]:
matches['league_id'].unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])

In [18]:
matches['season'].describe()

count         25979
unique            8
top       2015/2016
freq           3326
Name: season, dtype: object

In [19]:
matches['season'].unique()

array(['2008/2009', '2009/2010', '2010/2011', '2011/2012', '2012/2013',
       '2013/2014', '2014/2015', '2015/2016'], dtype=object)

In [28]:
matches.isnull().sum()

id                0
country_id        0
league_id         0
season            0
stage             0
              ...
GBD           11817
GBA           11817
BSH           11818
BSD           11818
BSA           11818
Length: 115, dtype: int64

In [29]:
matches['date'].isnull().sum()

0

In [30]:
matches['match_api_id'].isnull().sum()

0

In [31]:
matches['home_team_api_id'].isnull().sum()

0

In [32]:
matches['away_team_api_id'].isnull().sum()

0

In [33]:
matches['home_team_goal'].isnull().sum()

0

In [37]:
matches['goal'].unique()

array([None,
       '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>406</event_incident_typefk><elapsed>22</elapsed><player2>38807</player2><subtype>header</subtype><player1>37799</player1><sortorder>5</sortorder><team>10261</team><id>378998</id><n>295</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><elapsed>24</elapsed><player2>24154</player2><subtype>shot</subtype><player1>24148</player1><sortorder>4</sortorder><team>10260</team><id>379019</id><n>298</n><type>goal</type><goal_type>n</goal_type></value></goal>',
       '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><elapsed>4</elapsed><player2>39297</player2><subtype>shot</subtype><player1>26181</player1><sortorder>2</sortorder><team>9825</team><id>375546</id><n>231</n><type>goal</type><goal_type>n</goal_type></value></goal>',
       ...,
       '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>35</elapsed><player1>38601</player1><sortorder>0</sortorder><team>10179</team><id>5639961</id><n>10</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>60</elapsed><player1>38601</player1><sortorder>0</sortorder><team>10179</team><id>5639998</id><n>20</n><type>goal</type><goal_type>n</goal_type></value><value><comment>o</comment><stats><owngoals>1</owngoals></stats><event_incident_typefk>115</event_incident_typefk><elapsed>69</elapsed><player1>67349</player1><sortorder>0</sortorder><team>10179</team><id>5640012</id><n>28</n><type>goal</type><goal_type>o</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>90</elapsed><player1>34082</player1><sortorder>0</sortorder><team>10199</team><id>5640044</id><n>33</n><type>goal</type><goal_type>n</goal_type></value></goal>',
       '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>19</elapsed><player1>25843</player1><sortorder>0</sortorder><team>10192</team><id>5639949</id><n>6</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>58</elapsed><player1>245161</player1><sortorder>0</sortorder><team>10192</team><id>5640001</id><n>13</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>71</elapsed><player1>37554</player1><sortorder>0</sortorder><team>10192</team><id>5640015</id><n>17</n><type>goal</type><goal_type>n</goal_type></value></goal>',
       '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>58</elapsed><player1>493418</player1><sortorder>0</sortorder><team>9824</team><id>5639993</id><n>16</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>67</elapsed><player1>197757</player1><sortorder>0</sortorder><team>10243</team><id>5640008</id><n>20</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>69</elapsed><player1>198082</player1><sortorder>0</sortorder><team>10243</team><id>5640010</id><n>21</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>71</event_incident_typefk><elapsed>76</elapsed><player1>121080</player1><sortorder>0</sortorder><team>10243</team><id>5640020</id><n>24</n><type>goal</type><goal_type>n</goal_type></value></goal>'],
      dtype=object)

In [39]:
matches['shoton'].unique()

array([None,
       '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>3</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>253</n><type>shoton</type><id>378828</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>154</event_incident_typefk><elapsed>7</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>2</sortorder><team>10260</team><n>258</n><type>shoton</type><id>378866</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30829</player1><sortorder>1</sortorder><team>10260</team><n>274</n><type>shoton</type><id>378922</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30373</player1><sortorder>2</sortorder><team>10260</team><n>279</n><type>shoton</type><id>378923</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>17</elapsed><subtype>distance</subtype><player1>30373</player1><sortorder>3</sortorder><team>10260</team><n>272</n><type>shoton</type><id>378951</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>43</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>296</n><type>shoton</type><id>379204</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>50</elapsed><subtype>distance</subtype><player1>37799</player1><sortorder>0</sortorder><team>10261</team><n>302</n><type>shoton</type><id>379363</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>149</event_incident_typefk><elapsed>58</elapsed><subtype>distance</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>310</n><type>shoton</type><id>379401</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>58</elapsed><subtype>blocked_shot</subtype><player1>24157</player1><sortorder>4</sortorder><team>10260</team><n>311</n><type>shoton</type><id>379406</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>60</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>0</sortorder><team>10260</team><n>314</n><type>shoton</type><id>379414</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><elapsed>64</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>319</n><type>shoton</type><id>379426</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>75</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>5</sortorder><team>10260</team><n>338</n><type>shoton</type><id>379466</id></value></shoton>',
       '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>7</elapsed><subtype>blocked_shot</subtype><player1>31013</player1><sortorder>1</sortorder><team>9825</team><n>235</n><type>shoton</type><id>375556</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>7</elapsed><subtype>distance</subtype><player1>30960</player1><sortorder>2</sortorder><team>9825</team><n>236</n><type>shoton</type><id>375557</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>9</elapsed><subtype>blocked_shot</subtype><player1>26111</player1><sortorder>3</sortorder><team>9825</team><n>240</n><type>shoton</type><id>375563</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><elapsed>23</elapsed><subtype>shot</subtype><player1>36410</player1><sortorder>1</sortorder><team>9825</team><n>253</n><type>shoton</type><id>375596</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><elapsed>32</elapsed><subtype>header</subtype><player1>26111</player1><sortorder>0</sortorder><team>9825</team><n>267</n><type>shoton</type><id>375628</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>42</elapsed><subtype>distance</subtype><player1>26181</player1><sortorder>1</sortorder><team>9825</team><n>273</n><type>shoton</type><id>375651</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>44</elapsed><subtype>blocked_shot</subtype><player1>30960</player1><sortorder>0</sortorder><team>9825</team><n>279</n><type>shoton</type><id>375654</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>50</elapsed><subtype>shot</subtype><player1>27267</player1><sortorder>2</sortorder><team>8659</team><n>282</n><type>shoton</type><id>375680</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>59</elapsed><subtype>blocked_shot</subtype><player1>36410</player1><sortorder>3</sortorder><team>9825</team><n>296</n><type>shoton</type><id>375717</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>66</elapsed><subtype>blocked_shot</subtype><player1>31013</player1><sortorder>1</sortorder><team>9825</team><n>297</n><type>shoton</type><id>375740</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>76</elapsed><subtype>blocked_shot</subtype><player1>31088</player1><sortorder>0</sortorder><team>8659</team><n>305</n><type>shoton</type><id>375795</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>79</elapsed><subtype>blocked_shot</subtype><player1>30935</player1><sortorder>0</sortorder><team>9825</team><n>310</n><type>shoton</type><id>375816</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><elapsed>82</elapsed><subtype>header</subtype><player1>30843</player1><sortorder>1</sortorder><team>9825</team><n>314</n><type>shoton</type><id>375831</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>89</elapsed><subtype>blocked_shot</subtype><player1>26181</player1><sortorder>1</sortorder><team>9825</team><n>321</n><type>shoton</type><id>375880</id></value></shoton>',
       ...,
       '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>13</value><value>61</value></coordinates><elapsed>11</elapsed><subtype>blocked_shot</subtype><player1>395154</player1><sortorder>0</sortorder><team>9869</team><n>30</n><type>shoton</type><id>4959817</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>557</event_incident_typefk><coordinates><value>25</value><value>7</value></coordinates><elapsed>38</elapsed><subtype>big chance header</subtype><player1>33871</player1><sortorder>1</sortorder><team>8315</team><n>179</n><type>shoton</type><id>4959974</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>554</event_incident_typefk><coordinates><value>21</value><value>9</value></coordinates><elapsed>47</elapsed><subtype>big chance shot</subtype><player1>45749</player1><sortorder>2</sortorder><team>8315</team><n>217</n><type>shoton</type><id>4960007</id></value><value><stats><blocked>1</blocked></stats><elapsed_plus>1</elapsed_plus><event_incident_typefk>61</event_incident_typefk><coordinates><value>34</value><value>63</value></coordinates><elapsed>90</elapsed><subtype>blocked_shot</subtype><player1>541558</player1><sortorder>1</sortorder><team>9869</team><n>413</n><type>shoton</type><id>4960147</id></value><value><stats><shoton>1</shoton></stats><elapsed_plus>3</elapsed_plus><event_incident_typefk>553</event_incident_typefk><coordinates><value>23</value><value>11</value></coordinates><elapsed>90</elapsed><subtype>big chance shot</subtype><player1>33028</player1><sortorder>8</sortorder><team>8315</team><n>421</n><type>shoton</type><id>4960154</id></value></shoton>',
       '<shoton><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><coordinates><value>24</value><value>10</value></coordinates><elapsed>13</elapsed><subtype>shot</subtype><player1>161291</player1><sortorder>1</sortorder><team>7878</team><n>97</n><type>shoton</type><id>4946337</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><coordinates><value>34</value><value>8</value></coordinates><elapsed>27</elapsed><subtype>shot</subtype><player1>534484</player1><sortorder>1</sortorder><team>7878</team><n>225</n><type>shoton</type><id>4946541</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>147</event_incident_typefk><coordinates><value>18</value><value>9</value></coordinates><elapsed>28</elapsed><subtype>shot</subtype><player1>43372</player1><sortorder>0</sortorder><team>7878</team><n>230</n><type>shoton</type><id>4946544</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><coordinates><value>27</value><value>17</value></coordinates><elapsed>32</elapsed><subtype>distance</subtype><player1>170667</player1><sortorder>2</sortorder><team>7878</team><n>255</n><type>shoton</type><id>4946623</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>147</event_incident_typefk><coordinates><value>12</value><value>63</value></coordinates><elapsed>39</elapsed><subtype>shot</subtype><player1>268273</player1><sortorder>0</sortorder><team>8603</team><n>298</n><type>shoton</type><id>4946704</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>147</event_incident_typefk><coordinates><value>22</value><value>10</value></coordinates><elapsed>53</elapsed><subtype>shot</subtype><player1>161291</player1><sortorder>2</sortorder><team>7878</team><n>396</n><type>shoton</type><id>4947031</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>142</event_incident_typefk><coordinates><value>29</value><value>7</value></coordinates><elapsed>53</elapsed><subtype>header</subtype><player1>2752</player1><sortorder>4</sortorder><team>7878</team><n>399</n><type>shoton</type><id>4947036</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><coordinates><value>14</value><value>60</value></coordinates><elapsed>56</elapsed><subtype>shot</subtype><player1>37824</player1><sortorder>1</sortorder><team>8603</team><n>405</n><type>shoton</type><id>4947050</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>28</value><value>64</value></coordinates><elapsed>56</elapsed><subtype>shot</subtype><player1>96652</player1><sortorder>2</sortorder><team>8603</team><n>406</n><type>shoton</type><id>4947052</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>154</event_incident_typefk><coordinates><value>18</value><value>8</value></coordinates><elapsed>74</elapsed><subtype>header</subtype><player1>213711</player1><sortorder>2</sortorder><team>7878</team><n>521</n><type>shoton</type><id>4947282</id></value></shoton>',
       '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>13</value><value>53</value></coordinates><elapsed>8</elapsed><subtype>blocked_shot</subtype><player1>213814</player1><sortorder>0</sortorder><team>8558</team><n>60</n><type>shoton</type><id>4940252</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>22</value><value>6</value></coordinates><elapsed>14</elapsed><subtype>shot</subtype><player1>46808</player1><sortorder>0</sortorder><team>8370</team><n>103</n><type>shoton</type><id>4940315</id></value><value><event_incident_typefk>876</event_incident_typefk><coordinates><value>20</value><value>7</value></coordinates><elapsed>19</elapsed><subtype>blocked_header</subtype><player1>75004</player1><sortorder>5</sortorder><team>8370</team><n>182</n><type>shoton</type><id>4940387</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><coordinates><value>28</value><value>4</value></coordinates><elapsed>20</elapsed><subtype>header</subtype><player1>46808</player1><sortorder>1</sortorder><team>8370</team><n>189</n><type>shoton</type><id>4940396</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>26</value><value>8</value></coordinates><elapsed>39</elapsed><subtype>blocked_shot</subtype><player1>46808</player1><sortorder>0</sortorder><team>8370</team><n>266</n><type>shoton</type><id>4940578</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>15</value><value>19</value></coordinates><elapsed>47</elapsed><subtype>shot</subtype><player1>427893</player1><sortorder>0</sortorder><team>8370</team><n>315</n><type>shoton</type><id>4940721</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>144</event_incident_typefk><coordinates><value>18</value><value>3</value></coordinates><elapsed>53</elapsed><subtype>volley</subtype><player1>256727</player1><sortorder>0</sortorder><team>8370</team><n>331</n><type>shoton</type><id>4940770</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>27</value><value>63</value></coordinates><elapsed>60</elapsed><subtype>shot</subtype><player1>41622</player1><sortorder>3</sortorder><team>8558</team><n>358</n><type>shoton</type><id>4940869</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>32</value><value>10</value></coordinates><elapsed>62</elapsed><subtype>blocked_shot</subtype><player1>482331</player1><sortorder>1</sortorder><team>8370</team><n>367</n><type>shoton</type><id>4940889</id></value><value><event_incident_typefk>139</event_incident_typefk><coordinates><value>31</value><value>20</value></coordinates><elapsed>68</elapsed><subtype>direct_freekick</subtype><player1>210065</player1><sortorder>0</sortorder><team>8370</team><n>379</n><type>shoton</type><id>4940940</id></value><value><stats><blocked>1</blocked></stats><elapsed_plus>2</elapsed_plus><event_incident_typefk>61</event_incident_typefk><coordinates><value>33</value><value>62</value></coordinates><elapsed>90</elapsed><subtype>blocked_shot</subtype><player1>452243</player1><sortorder>7</sortorder><team>8558</team><n>503</n><type>shoton</type><id>4941144</id></value></shoton>'],
      dtype=object)

In [42]:
matches['B365H'].describe()

count    22592.000000
mean         2.628818
std          1.794463
min          1.040000
25%          1.670000
50%          2.100000
75%          2.800000
max         26.000000
Name: B365H, dtype: float64

In [45]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 5 columns):
id                  299 non-null int64
team_api_id         299 non-null int64
team_fifa_api_id    288 non-null float64
team_long_name      299 non-null object
team_short_name     299 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 11.8+ KB

In [46]:
team_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
id                                1458 non-null int64
team_fifa_api_id                  1458 non-null int64
team_api_id                       1458 non-null int64
date                              1458 non-null object
buildUpPlaySpeed                  1458 non-null int64
buildUpPlaySpeedClass             1458 non-null object
buildUpPlayDribbling              489 non-null float64
buildUpPlayDribblingClass         1458 non-null object
buildUpPlayPassing                1458 non-null int64
buildUpPlayPassingClass           1458 non-null object
buildUpPlayPositioningClass       1458 non-null object
chanceCreationPassing             1458 non-null int64
chanceCreationPassingClass        1458 non-null object
chanceCreationCrossing            1458 non-null int64
chanceCreationCrossingClass       1458 non-null object
chanceCreationShooting            1458 non-null int64
chanceCreationShootingClass       1458 non-null object
chanceCreationPositioningClass    1458 non-null object
defencePressure                   1458 non-null int64
defencePressureClass              1458 non-null object
defenceAggression                 1458 non-null int64
defenceAggressionClass            1458 non-null object
defenceTeamWidth                  1458 non-null int64
defenceTeamWidthClass             1458 non-null object
defenceDefenderLineClass          1458 non-null object
dtypes: float64(1), int64(11), object(13)
memory usage: 284.9+ KB

In [47]:
team_attributes.team_fifa_api_id.nunique()

285

In [49]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
id                    11060 non-null int64
player_api_id         11060 non-null int64
player_name           11060 non-null object
player_fifa_api_id    11060 non-null int64
birthday              11060 non-null object
height                11060 non-null float64
weight                11060 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 605.0+ KB

In [51]:
players_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 42 columns):
id                     183978 non-null int64
player_fifa_api_id     183978 non-null int64
player_api_id          183978 non-null int64
date                   183978 non-null object
overall_rating         183142 non-null float64
potential              183142 non-null float64
preferred_foot         183142 non-null object
attacking_work_rate    180748 non-null object
defensive_work_rate    183142 non-null object
crossing               183142 non-null float64
finishing              183142 non-null float64
heading_accuracy       183142 non-null float64
short_passing          183142 non-null float64
volleys                181265 non-null float64
dribbling              183142 non-null float64
curve                  181265 non-null float64
free_kick_accuracy     183142 non-null float64
long_passing           183142 non-null float64
ball_control           183142 non-null float64
acceleration           183142 non-null float64
sprint_speed           183142 non-null float64
agility                181265 non-null float64
reactions              183142 non-null float64
balance                181265 non-null float64
shot_power             183142 non-null float64
jumping                181265 non-null float64
stamina                183142 non-null float64
strength               183142 non-null float64
long_shots             183142 non-null float64
aggression             183142 non-null float64
interceptions          183142 non-null float64
positioning            183142 non-null float64
vision                 181265 non-null float64
penalties              183142 non-null float64
marking                183142 non-null float64
standing_tackle        183142 non-null float64
sliding_tackle         181265 non-null float64
gk_diving              183142 non-null float64
gk_handling            183142 non-null float64
gk_kicking             183142 non-null float64
gk_positioning         183142 non-null float64
gk_reflexes            183142 non-null float64
dtypes: float64(35), int64(3), object(4)
memory usage: 59.0+ MB

In [52]:
players_attributes.describe()

,id,player_fifa_api_id,player_api_id,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,183978.00000,183978.000000,183978.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,181265.000000,...,181265.000000,183142.000000,183142.000000,183142.000000,181265.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000
mean,91989.50000,165671.524291,135900.617324,68.600015,73.460353,55.086883,49.921078,57.266023,62.429672,49.468436,...,57.873550,55.003986,46.772242,50.351257,48.001462,14.704393,16.063612,20.998362,16.132154,16.441439
std,53110.01825,53851.094769,136927.840510,7.041139,6.592271,17.242135,19.038705,16.488905,14.194068,18.256618,...,15.144086,15.546519,21.227667,21.483706,21.598778,16.865467,15.867382,21.452980,16.099175,17.198155
min,1.00000,2.000000,2625.000000,33.000000,39.000000,1.000000,1.000000,1.000000,3.000000,1.000000,...,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,45995.25000,155798.000000,34763.000000,64.000000,69.000000,45.000000,34.000000,49.000000,57.000000,35.000000,...,49.000000,45.000000,25.000000,29.000000,25.000000,7.000000,8.000000,8.000000,8.000000,8.000000
50%,91989.50000,183488.000000,77741.000000,69.000000,74.000000,59.000000,53.000000,60.000000,65.000000,52.000000,...,60.000000,57.000000,50.000000,56.000000,53.000000,10.000000,11.000000,12.000000,11.000000,11.000000
75%,137983.75000,199848.000000,191080.000000,73.000000,78.000000,68.000000,65.000000,68.000000,72.000000,64.000000,...,69.000000,67.000000,66.000000,69.000000,67.000000,13.000000,15.000000,15.000000,15.000000,15.000000
max,183978.00000,234141.000000,750584.000000,94.000000,97.000000,95.000000,97.000000,98.000000,97.000000,93.000000,...,97.000000,96.000000,96.000000,95.000000,95.000000,94.000000,93.000000,97.000000,96.000000,96.000000

In [61]:
matches = matches.drop(matches.columns[11:], axis=1)

In [65]:
matches = matches.drop(matches.columns[:2], axis=1)

In [67]:
matches = matches.drop(matches.columns[2], axis=1)

In [68]:
matches.head()

,league_id,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,1,2008/2009,2008-08-17 00:00:00,492473,9987,9993,1,1
1,1,2008/2009,2008-08-16 00:00:00,492474,10000,9994,0,0
2,1,2008/2009,2008-08-16 00:00:00,492475,9984,8635,0,3
3,1,2008/2009,2008-08-17 00:00:00,492476,9991,9998,5,0
4,1,2008/2009,2008-08-16 00:00:00,492477,7947,9985,1,3

In [69]:
def home_result_func(row):
    if row['home_team_goal'] > row['away_team_goal']:
        val = 'win'
    elif row['home_team_goal'] == row['away_team_goal']:
        val = 'tie'
    else:
        val = 'loss'
    return val

def away_result_func(row):
    if row['away_team_goal'] > row['home_team_goal']:
        val = 'win'
    elif row['home_team_goal'] == row['away_team_goal']:
        val = 'tie'
    else:
        val = 'loss'
    return val

In [72]:
matches['home_result'] = matches.apply(home_result_func, axis=1)
matches['away_result'] = matches.apply(away_result_func, axis=1)

In [73]:
matches.head()

,league_id,season,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_result,away_result
0,1,2008/2009,2008-08-17 00:00:00,492473,9987,9993,1,1,tie,tie
1,1,2008/2009,2008-08-16 00:00:00,492474,10000,9994,0,0,tie,tie
2,1,2008/2009,2008-08-16 00:00:00,492475,9984,8635,0,3,loss,win
3,1,2008/2009,2008-08-17 00:00:00,492476,9991,9998,5,0,win,loss
4,1,2008/2009,2008-08-16 00:00:00,492477,7947,9985,1,3,loss,win

In [ ]:
matches.info()

In [ ]:
x = matches.query(" result == 'win' ")

In [ ]:
y = x.groupby(['home_team_api_id','season'])['result'].count()

In [ ]:
y[50:100]

In [ ]:
v = matches.groupby(['league_id','season', 'home_team_api_id'])['id'].count()

In [ ]:
v[:50]

In [ ]:
matches.groupby(['league_id','season']).head()

In [ ]:
matches.league_id.nunique()

In [ ]:
total_matches_per_team_per_season = matches.groupby(['league_id','season', 'home_team_api_id'])['id'].count()

In [ ]:
total_matches_per_team_per_season[100:150]

In [ ]:
leagues.id.unique()

In [ ]:
{matches.season.unique()}.tolist()
print(matches.season.unique().tolist()[0])

In [ ]:
league_0_matches = matches.query(" season == '2008/2009' and league_id == {}".format(leagues.id[0])).q
league_0_matches_season_0 = league_0_matches.query(" season == '2008/2009' ")

In [ ]:
league_0_matches_season_0.head()

In [ ]:
league_0_matches.head()

In [ ]:
league_0_matches_season_0.groupby(['home_team_api_id'])['id'].count()

In [ ]:
xy = matches.query("season == '2008/2009' and league_id == {} and result=='win'".format(leagues.id[0]))

In [ ]:
teams_id= teams_total_ashome.index.to_list()

In [ ]:
teams_win_ashome = xy.groupby('home_team_api_id')['id'].count()

In [ ]:
len(teams_win_ashome)

In [ ]:
teams_lose_asaway = xy.groupby('away_team_api_id')['id'].count()
len(teams_lose_asaway)

In [ ]:
s_default = pd.Series(0, index = teams_id)
teams_lose_asaway = teams_lose_asaway.combine(s_default, max, fill_value=0)

In [ ]:
xy = matches.query("season == '2008/2009' and league_id == {} and result=='loss'".format(leagues.id[0]))

In [ ]:
teams_win_asaway = xy.groupby('away_team_api_id')['id'].count()
teams_win_asaway

In [ ]:
s_default = pd.Series(0, index = teams_id)

In [ ]:
teams_win_asaway = teams_win_asaway.combine(s_default, max, fill_value=0)
teams_win_asaway

In [ ]:
teams_lose_ashome = xy.groupby('home_team_api_id')['id'].count()
len(teams_lose_ashome)

In [ ]:
xyz = matches.query("season == '2008/2009' and league_id == {}".format(leagues.id[0]))

In [ ]:
teams_total_ashome = xyz.groupby(['home_team_api_id'])['id'].count()

In [ ]:
teams_total_asaway = xyz.groupby(['away_team_api_id'])['id'].count()

In [ ]:
teams_total = teams_total_ashome + teams_total_asaway
teams_total

In [ ]:
noOfWins = teams_win_ashome + teams_win_asaway
noOfWins

In [ ]:
noOfLosses = teams_lose_ashome + teams_lose_asaway
noOfLosses

In [ ]:
noOfDraw = teams_total - noOfLosses - noOfWins
noOfDraw

In [ ]:
frame = {'total_played':teams_total, 'wins':noOfWins, 'loss':noOfLosses, 'draw':noOfDraw}

In [ ]:
league_0_season_0 = pd.DataFrame(frame)

In [ ]:
league_0_season_0

In [ ]:
league_0_season_0['win_ratio'] = league_0_season_0['wins'] / league_0_season_0['total_played']

In [ ]:
league_0_season_0

In [ ]:
xylast = matches.query("season == '{}' and league_id == {}".format(matches.season.unique()[7],leagues.id[0]))

In [ ]:
xylast.info()

In [ ]:
matches.season.unique()

In [ ]:
xylast = matches.query("season == '{}' and league_id == {} and result == 'win'".format(matches.season.unique()[7],leagues.id[0]))
teams_win_ashome = xylast.groupby('home_team_api_id')['id'].count()
teams_lose_asaway = xylast.groupby('away_team_api_id')['id'].count()

In [ ]:
xylast = matches.query("season == '{}' and league_id == {} and result == 'loss'".format(matches.season.unique()[7],leagues.id[0]))
teams_win_asaway = xylast.groupby('away_team_api_id')['id'].count()
teams_lose_ashome = xylast.groupby('home_team_api_id')['id'].count()

In [ ]:
teams_id = teams_win_ashome.index.to_list()
s_default = pd.Series(0, index = teams_id)
teams_lose_ashome = teams_lose_ashome.combine(s_default, max, fill_value=0)

In [ ]:
xylast = matches.query("season == '{}' and league_id == {}".format(matches.season.unique()[7],leagues.id[0]))
teams_total_ashome = xylast.groupby('home_team_api_id')['id'].count()
teams_total_asaway = xylast.groupby('away_team_api_id')['id'].count()

In [ ]:
noOfWins = teams_win_ashome + teams_win_asaway
noOfLosses = teams_lose_ashome + teams_lose_asaway
teams_total = teams_total_ashome + teams_total_asaway
noOfDraws = teams_total - noOfWins - noOfLosses

In [ ]:
frame = {'total_played':teams_total, 'wins':noOfWins, 'loss':noOfLosses, 'draw':noOfDraws}
league_0_season_7 = pd.DataFrame(frame)

In [ ]:
league_0_season_7

In [ ]:
league_0_season_7['win_ratio'] = league_0_season_7['wins'] / league_0_season_7['total_played']
league_0_season_7

In [ ]:
league_0_season_0.index.name = 'team_api_id'

In [ ]:
league_0_season_7.index.name = 'team_api_id'

In [ ]:
finale = pd.merge(league_0_season_0, league_0_season_7, how='inner',on='team_api_id')

In [ ]:
finale

In [ ]:
finale['improve_factor'] = finale['win_ratio_y'] - finale['win_ratio_x']

In [ ]:
finale

In [ ]:
finale.plot.bar(y='improve_factor');

In [ ]:
matches.info()

In [ ]:
matches.info()
matches.nunique()

In [ ]:
len(matches)-len(matches.drop_duplicates())

In [ ]:
matches2 = matches.copy()

In [ ]:
matches2.info()

In [ ]:
matches2.groupby([''])

In [ ]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

In [ ]:
df

In [ ]:
print (df.groupby('Team').filter(lambda x,y: x['Points'][y] >= 800) )

In [ ]:
x = matches2.query(" result=='win' ").groupby(['season','home_team_api_id'])['id'].count() + matches2.query(" result=='loss' ").groupby(['season','away_team_api_id'])['id'].count()

In [ ]:
hw = matches2.query(" result=='win' ").groupby(['season','home_team_api_id'])['id'].count()

In [ ]:
aw = matches2.query(" result=='loss' ").groupby(['season','away_team_api_id'])['id'].count()

In [ ]:
aw

In [ ]:
hw

In [ ]:
hl = matches2.query(" result=='loss' ").groupby(['season','home_team_api_id'])['id'].count()

In [ ]:
al = matches2.query(" result=='win' ").groupby(['season','away_team_api_id'])['id'].count()

In [ ]:
hl

In [ ]:
al

In [ ]:
htp = matches2.groupby(['season','home_team_api_id'])['id'].count()

In [ ]:
atp = matches2.groupby(['season','away_team_api_id'])['id'].count()

In [ ]:
htp

In [ ]:
atp

In [ ]:
teams.query(" team_api_id == 177361  ")

In [ ]:
cx = pd.DataFrame({'htp':htp,'atp':atp})

In [ ]:
teams_id = htp.index.to_list()
s_default = pd.Series(0, index = teams_id)

In [ ]:
s_default

In [ ]:
hw2 = hw.combine(s_default, max,fill_value=0)

In [ ]:
hw2

In [ ]:
aw2 = aw.combine(s_default, max,fill_value=0)
hl2 = hl.combine(s_default, max,fill_value=0)
al2 = al.combine(s_default, max,fill_value=0)

In [ ]:
aw2

In [ ]:
al2

In [ ]:
cxx = pd.DataFrame({'htp':htp,'atp':atp,'hw':hw2, 'aw':aw2,'hl':hl2,'al':al2})

In [ ]:
cxx['total_play'] = cxx['htp'] + cxx['atp']
cxx['total_win'] = cxx['hw'] + cxx['aw']
cxx['total_lose'] = cxx['hl'] + cxx['al']
cxx['total_draw'] = cxx['total_play'] - cxx['total_win'] - cxx['total_lose']

In [ ]:
cxx[-50:]

In [ ]:
cxx['win_ratio_per_season'] = cxx['total_win'] / cxx['total_play']

In [ ]:
cxx.query(" home_team_api_id == 9998 ")

In [ ]:
cxx.query(" win_ratio_per_season >= 0.85 ").plot.bar(y='win_ratio_per_season');

In [ ]:
teams.query(" team_api_id==9772 ")

In [ ]:
el7 = cxx.groupby('home_team_api_id').last() - cxx.groupby('home_team_api_id').first()

In [ ]:
el7

In [ ]:
el7.query(" win_ratio_per_season >= 0.2 ").plot.bar(y='win_ratio_per_season')

In [ ]:
teams.query(" team_api_id == 9998 ")

In [ ]:
el72 = el7.copy()

In [ ]:
el73 = pd.merge(left=teams, right=el72, left_on='team_api_id', right_on='home_team_api_id' )

In [ ]:
el73.drop(['id','team_fifa_api_id','team_short_name'],axis=1,inplace=True)

In [ ]:
el73

In [ ]:
el73.query(" win_ratio_per_season >= 0.25 ").plot.bar(x='team_long_name', y='win_ratio_per_season');

In [ ]:
el73 = el73.sort_values(by='win_ratio_per_season', ascending=False)
el73.query(" team_api_id == 9987  ")

In [ ]:
el73[:10].plot.bar(x='team_long_name',y='win_ratio_per_season')

In [ ]:
cxx.rename(columns={"home_team_api_id":"team_api_id"})

In [ ]:
cxx.index.names=['season','team_api_id']

In [ ]:
cxx

In [ ]:
xcx = pd.merge(left=teams, right=cxx, on='team_api_id')

In [ ]:
xcx.drop(['id','team_fifa_api_id','team_short_name'],axis=1,inplace=True)

In [ ]:
xcx

In [ ]:
bb = xcx.groupby(['team_long_name'])['total_win'].sum()

In [ ]:
bb.sort_values(ascending=False)

In [ ]:
team_attributes.groupby(['date']).count()

In [ ]:
vv = team_attributes.query(" date == '2010-02-22 00:00:00' ")

In [ ]:
vv1 = pd.DataFrame({'team_api_id':vv['team_api_id'], 'bus':vv['buildUpPlaySpeed']})

In [ ]:
vv1

In [ ]:
pp = team_attributes.groupby(['team_api_id']).mean()

In [ ]:
pp.drop(['team_fifa_api_id','id'],axis=1, inplace=True)

In [ ]:
pp

In [ ]:
xcx

In [ ]:
fgfg = pd.merge(left=xcx, right=pp, how='left', on='team_api_id')

In [ ]:
fgfg

In [ ]:
fgfg.drop(['buildUpPlayDribbling'],axis=1,inplace=True)

In [ ]:
fgfg.info()

In [ ]:
fgfg = fgfg.dropna()

In [ ]:
ftft = fgfg.groupby(['team_api_id']).mean()
ftft

In [ ]:
ftft.plot.scatter(x='buildUpPlaySpeed', y='total_win');

In [ ]:
bb

In [ ]:
hj = pd.DataFrame({'ww':bb})

In [ ]:
hj.reset_index()

In [ ]:
hjj= hj.merge(teams, how='inner',on='team_long_name')

In [ ]:
hjj.drop(['id','team_fifa_api_id','team_short_name'], axis=1 ,inplace=True)

In [ ]:
hjj.info()

In [ ]:
tr = hjj.merge(ftft, how='right', on='team_api_id')

In [ ]:
tr.columns

In [ ]:
tr.plot.scatter(x='defenceTeamWidth', y='ww')

In [ ]:
tr['ww']

In [ ]:
matches.head()

In [ ]:
matches.season.unique()

In [ ]:
matches.league_id.nunique()

In [ ]:
matches.groupby(['league_id','season'])['id'].count()[40:]